<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Essential.Studio.for.ASP.NET.MVC.2" version="11.1.0.21" targetFramework="net461" />
  <package id="Syncfusion.Xamarin.SfChart" version="16.1.0.37" targetFramework="net461" />
  <package id="Xamarin.Forms" version="2.4.0.280" targetFramework="net461" />
</packages>