USE [DB2017_C12]
GO
/****** Object:  StoredProcedure [dbo].[See_Stock]    Script Date: 17-04-2018 10:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER Proc [dbo].[See_Stock]

as
begin
Select POWERBANKEN.PRODUCT.PRODUCTID, POWERBANKEN.PRODUCT.PRODUCTNAME, POWERBANKEN.PRODUCT.SKU,POWERBANKEN.PRODUCT.PURCHASEPRICE, POWERBANKEN.PRODUCT.AMOUNT, POWERBANKEN.PRODUCT.MINSTOCK,
POWERBANKEN.PRODUCT.MAXSTOCK, POWERBANKEN.PRODUCT.PRODUCTIONINHOURS, POWERBANKEN.PRODUCTTYPE.PRODUCTTYPE, POWERBANKEN.BRAND.BRANDNAME
FROM POWERBANKEN.PRODUCT, POWERBANKEN.PRODUCTTYPE, POWERBANKEN.BRAND
WHERE POWERBANKEN.PRODUCT.PRODUCTTYPE = POWERBANKEN.PRODUCTTYPE.TYPEID AND POWERBANKEN.PRODUCT.BRANDID = POWERBANKEN.BRAND.BRANDID
END